<?xml version="1.0" encoding="utf-16"?>
<DataServiceConfigs xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <DataServiceConfig ServiceName="未命名服务" UniqueId="9931ff9d-2eef-4f23-9262-171d0b09dd36">
    <ConnectionStringConfigs>
      <ConnectionStringConfig Name="Default" ConnectionString="Data Source=a;Initial Catalog=a;Integrated Security=True" Provider="System.Data.SqlClient" UniqueId="eb65b7fc-6d97-4b99-a623-a878739a4b19" />
    </ConnectionStringConfigs>
  </DataServiceConfig>
</DataServiceConfigs>