################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/02.Code/SAF/SAF.Client/obj/Debug
/02.Code/SAF/SAF.CommonConfig/obj/Debug
/02.Code/SAF/SAF.Framework.Component/obj/Debug
/02.Code/SAF/SAF.SystemEntity/obj/Debug
/02.Code/SAF/SAF.SystemModule/obj/Debug
/02.Code/SAF.Output/Client
/02.Code/SAF/SAF.Test/obj/Debug
*.cache
*.suo
/04.Release/SAF.Client
/02.Code/SAF/SAF.EntityFramework/obj/Debug
/02.Code/SAF/SAF.Foundation/obj/Debug
/02.Code/SAF/SAF.Framework/obj/Debug
/02.Code/SAF/SAF.Framework.Controls/obj/Debug
/02.Code/SAF/SAF.Framework.Controls.Test/bin/Debug
/02.Code/SAF/SAF.Framework.Controls.Test/obj/Debug
/02.Code/SAF/SAF.Framework.Services/obj/Debug
*.pdb
/02.Code/SAF/SAF.Framework.Test/bin/Debug
/02.Code/SAF/SAF.Framework.Test/obj/Debug
/02.Code/SAF/SAF.EntityFramework/obj/Release
/02.Code/SAF/SAF.Foundation/obj/Release
/02.Code/SAF/SAF.Framework/obj/Release
/02.Code/SAF/SAF.Framework.Controls/obj/Release
/02.Code/SAF/SAF.Framework.Controls.Test/bin/Release
/02.Code/SAF/SAF.Framework.Controls.Test/obj/Release
/02.Code/SAF/SAF.Framework.Services/obj/Release
/02.Code/SAF/SAF.Framework.Test/bin/Release
/02.Code/SAF/SAF.Framework.Test/obj/Release
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal/bin
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal/obj
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy/AssemblyInfo/Debug
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy/Debug/bin
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy/Debug/Controls
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy/Debug/img
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy/Debug/Scripts
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy/obj
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy/Release
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.Foundation/bin
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.Foundation/obj
/08.Others/ScheduleQueryPortal/ScheduleQueryPortal.WebSetup/Release
/08.Others/01.ScheduleQueryPortal/ScheduleQueryPortal/bin
/08.Others/01.ScheduleQueryPortal/ScheduleQueryPortal.csproj_deploy
/08.Others/01.ScheduleQueryPortal/ScheduleQueryPortal/obj
/08.Others/01.ScheduleQueryPortal/ScheduleQueryPortal.Foundation/bin
/08.Others/01.ScheduleQueryPortal/ScheduleQueryPortal.Foundation/obj
/08.Others/01.ScheduleQueryPortal/ScheduleQueryPortal.WebSetup/Release
/08.Others/02.ScheduledTasks/SAF.ScheduledTasks/bin
/08.Others/02.ScheduledTasks/SAF.ScheduledTasks/obj
/08.Others/02.ScheduledTasks/SAF.TaskCenter/bin
/08.Others/02.ScheduledTasks/SAF.TestJob/bin/Release
/08.Others/02.ScheduledTasks/SAF.TestJob/obj
/08.Others/02.ScheduledTasks/SAF.TaskCenter/obj/x86/Debug
/08.Others/01.ScheduleQueryPortal/.vs/config
*.user
/02.Code/SAF/SAF.Database/obj/Debug
*.dbmdl
/04.Release/SAF/de
/04.Release/SAF/es
/04.Release/SAF/ja
/04.Release/SAF/ru
/08.Others/03.myPortal/myPortal.BLL/bin
/08.Others/03.myPortal/myPortal.BLL/obj
/08.Others/03.myPortal/myPortal.DAL.SqlServer/obj/Debug
/08.Others/03.myPortal/myPortal.DAL.SqlServer/obj/Release
/08.Others/03.myPortal/myPortal.DALFactory/bin/Debug
/08.Others/03.myPortal/myPortal.DALFactory/bin/Release
/08.Others/03.myPortal/myPortal.DALFactory/obj/Debug
/08.Others/03.myPortal/myPortal.DALFactory/obj/Release
/08.Others/03.myPortal/myPortal.Foundation/bin/Debug
/08.Others/03.myPortal/myPortal.Foundation/bin/Release
/08.Others/03.myPortal/myPortal.Foundation/obj/Debug
/08.Others/03.myPortal/myPortal.Foundation/obj/Release
/08.Others/03.myPortal/myPortal.IDAL/bin/Debug
/08.Others/03.myPortal/myPortal.IDAL/bin/Release
/08.Others/03.myPortal/myPortal.IDAL/obj
/08.Others/03.myPortal/myPortal.Model/bin
/08.Others/03.myPortal/myPortal.Model/obj
/08.Others/03.myPortal/myPortal.Setup/Release
/08.Others/03.myPortal/myPortal.Web/bin
/08.Others/03.myPortal/myPortal.Web/obj
/08.Others/03.myPortal/myPortal.Web.WWWRoot/bin
/08.Others/03.myPortal/myPortal.Web.WWWRoot/obj
/08.Others/03.myPortal/myPortal.Web.WWWRoot.csproj_deploy/AssemblyInfo
/08.Others/03.myPortal/myPortal.Web.WWWRoot.csproj_deploy/obj/Release/TempBuildDir
/08.Others/03.myPortal/myPortal.Web.WWWRoot.csproj_deploy/Release
/02.Code/SAF/SAF.Hardware.Controls.Test/bin/Debug
/02.Code/SAF/SAF.Hardware.Controls.Test/obj/Debug
/02.Code/SAF/SAF.Hardware.Controls/obj/Debug
