<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="tasksConfiguration" type="ScheduledTasks.TaskSection, ScheduledTasks"/>
  </configSections>
  <tasksConfiguration>
    <task name="task1" type="SAF.TestJob.JobTest, SAF.TestJob" interval="2"/>
  </tasksConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
