<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataPortalUrl" value="http://localhost:8732/WcfPortal/DataPortal"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="defaultProvider">
      <providers>
        <clear/>
        <add name="defaultProvider" type="SAF.Framework.FormMembershipProvider,SAF.Framework"/>
      </providers>
    </membership>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
