<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DataPortalProxy" value="SAF.EntityFramework.DataPortalClient.WcfProxy, SAF.EntityFramework"/>
    <add key="DataPortalUrl" value="http://localhost:8732/WcfPortal/DataPortal"/>-->

    <add key="DataPortalProxy" value="local"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=localhost;Initial Catalog=SAF;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="defaultProvider">
      <providers>
        <clear/>
        <add name="defaultProvider" type="SAF.EntityFramework.Authentication.FormMembershipProvider,SAF.EntityFramework"/>
      </providers>
    </membership>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
