<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataPortalProxy" value="Local"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=localhost;Initial Catalog=SAF;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
<!--<?xml version="1.0"?>
<configuration>
  <appSettings>
    -->
<!--<add key="DataPortalProxy" value="SAF.EntityFramework.DataPortalClient.WcfProxy, SAF.EntityFramework"/>
    <add key="DataPortalUrl" value="http://localhost:8732/WcfPortal/DataPortal"/>-->
<!--

    <add key="DataPortalProxy" value="local"/>
    <add key="AutoUpgrade" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="A49DA7D538AE10AA27FF878B8B03D385F091F633F02A320DCADE34C87788FCCB7EFF903D5BC7CA2FFA2E6485322B0AC6823B1BF665C66A1F9ED2CDA39D750FF6D030924C2AA24E30F3723F81DA1FF211" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="defaultProvider">
      <providers>
        <clear/>
        <add name="defaultProvider" type="SAF.Framework.FormMembershipProvider,SAF.Framework"/>
      </providers>
    </membership>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>-->