/*reset*/
body, div, table, tr, th, td, dd, dt, dh, ul, li
{
    margin: 0;
    padding: 0;
    font-size: 12px;
    text-align: left;
    vertical-align: baseline;
    font-weight: normal;
}

div
{
    _zoom: 1;
}
fieldset
{
    background-color: White;
}
/*
input{padding:0px;}
input{padding:0 0 0 0;}
*/
ul
{
    list-style-position: outside;
    list-style-type: none;
}
a
{
    text-decoration: none;
    color: #0000ff;
}
a:hover
{
    text-decoration: underline;
}

/* common */
.n_txt
{
    border: solid 1px #a4d5f6;
    width: 90px;
}
.clear
{
    clear: both;
    margin-bottom: 2px;
}
.red
{
    color: #ff0000;
}
.thinred
{
    color: #ff9999;
}
.blue
{
    color: #0000ff;
}
.gray
{
    color: #aaaaaa;
}
.f_l
{
    float: left;
    display: block;
    width: 1042px;
}
.f_r
{
    float: right;
    padding-right: 10px;
}
.w_20
{
    width: 20px;
}
.w_40
{
    width: 40px;
}
.w_60
{
    width: 60px;
}
.w_64
{
    width: 64px;
}
.w_70
{
    width: 70px;
}
.w_75
{
    width: 75px;
}
.w_80
{
    width: 80px;
}
.w_90
{
    width: 90px;
}
.w_100
{
    width: 100px;
}
.w_110
{
    width: 110px;
}
.w_120
{
    width: 120px;
}
.w_150
{
    width: 150px;
}
.w_160
{
    width: 160px;
}
.w_200
{
    width: 200px;
}
.w_300
{
    width: 300px;
}
.w_400
{
    width: 400px;
}
.center
{
    text-align: center;
}
.right
{
    text-align: right;
}
.middle
{
    vertical-align: middle;
}
.mar_auto
{
    margin: 5px auto;
}
.hide
{
    display: none;
}
.m_10
{
    margin-top: 10px;
}
.m_b_10
{
    margin-bottom: 10px;
}
.w_q1
{
    width: 25%;
}
.w_q2
{
    width: 50%;
}
.w_q3
{
    width: 75%;
}
.w_p10
{
    width: 10%;
}
.w_p15
{
    width: 15%;
}
.w_p20
{
    width: 20%;
}
.w_p23
{
    width: 23%;
}
.w_p25
{
    width: 25%;
}
.w_p30
{
    width: 30%;
}
.w_p35
{
}
.w_p45
{
    width: 45%;
}
.w_p50
{
    width: 50%;
}
.w_p70
{
    width: 70%;
}
.w_p80
{
    width: 80%;
}
.w_p90
{
    width: 90%;
}
.w_p95
{
    width: 95%;
}
.w_p97
{
    width: 97%;
}
.w_p98
{
    width: 98%;
}
.w_p99
{
    width: 99%;
}
.w_p100
{
    width: 100%;
}

.callable
{
    padding-right: 18px;
    background: url(../img/skin1/call.gif) no-repeat right center;
    display: inline-block;
    height: 16px;
    text-decoration: underline;
    color: #00f;
    cursor: pointer;
}
.searchbtn
{
    background: url(../img/common/ico_Search.gif) no-repeat right center;
    border: solid 1px #a4d5f6;
    cursor: hand;
    color: #3333ff;
    width: 20px;
    height: 20px;
}
.f_bolder
{
    font-weight: bolder;
}

.date_txt
{
    cursor: default;
    width: 83px;
    height: 19px;
    border: none;
    padding-right: 22px;
    background: url(../img/skin1/datepicker_bg.gif) no-repeat;
    line-height: 18px;
}
.err_tips
{
    border: solid 1px #fad152;
    background: #ffefba url(../img/skin1/Error.png) no-repeat 10px 10px;
    padding: 5px 10px 5px 70px;
    color: #ff0000;
    font-size: 13px;
}
.imgbtn_del, .imgbtn_mod, .imgbtn_refresh
{
    width: 16px;
    height: 16px;
    overflow: hidden;
    border: none;
    text-indent: -100px;
    float: left;
    margin: 0 5px;
}
.imgbtn_del
{
    background: url(../img/skin1/delete.gif);
}
.imgbtn_mod
{
    background: url(../img/skin1/modify.gif);
}
.imgbtn_refresh
{
    background: url(../img/skin1/refresh.gif);
}

.h_line
{
    height: 24px;
    padding: 0 10px;
    background: url(../img/skin1/h_bg.gif) repeat-x 0 -48px;
}
.h_line a
{
    text-decoration: none;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    height: 19px;
    padding: 5px 5px 0 15px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
}
.h_line a
{
    text-decoration: none;
    color: #101010;
    font-size: 13px;
    font-weight: bold;
    height: 19px;
    padding: 5px 5px 0 15px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;
}
.h_n
{
    background: url(../img/skin1/h_bg.gif) no-repeat;
}
.h_s
{
    background-position: 0 -24px;
}
.c
{
    padding-left: 4px;
    padding-right: 4px;
}
.c_t
{
    border-collapse: collapse;
    border: solid 1px #99ccff;
    width: 99%;
    margin: 2px auto;
}
.c_t td
{
    border: solid 1px #9cf;
    height: 22px;
    vertical-align: middle;
}
.th
{
    border-left: 1px solid #e3effb;
    border-top: 1px solid #e3effb;
    background: #E5F0F9;
    border-right: 1px solid #6f9fce;
    border-bottom: 1px solid #6f9fce;
    text-align: center;
    vertical-align: middle;
}
#datePicker
{
    position: absolute;
    top: -1px;
    left: -1px;
}
a.tabc
{
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 6px;
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/skin1/close.gif) no-repeat 1px 1px;
    text-decoration: none;
    overflow: hidden;
}
a.tabc:hover
{
    background: url(../img/skin1/close_hover.gif) no-repeat 1px 1px;
    border: solid 1px #f33;
    text-decoration: none;
    overflow: hidden;
}

#nav_loading
{
    position: absolute;
    top: 5px;
    right: 10px;
    display: none;
}

/*welcome*/
.tip
{
    border: solid 1px #a4d5f6;
    padding: 10px;
    background: #fff url(../img/skin1/tab_bg.gif) repeat-x;
    background-position: 0 -32px;
    font-size: 14px;
    width: 500px;
    margin: 50px auto;
}
.tip2
{
    border: solid 1px #a4d5f6;
    padding: 10px;
    background: #fff url(../img/skin1/tab_bg.gif) repeat-x;
    background-position: 0 -32px;
    font-size: 14px;
    width: 600px;
    margin: 0 auto;
}
.tip_t h4
{
    margin: 0;
}
.tip_m h5
{
    margin: 20px 0 2px;
    color: #3333ff;
    font-size: 13px;
}
.tip_t span
{
    color: #ff6666;
}
.tip_m p
{
    margin-top: 5px;
    line-height: 20px;
}

/*call control*/
#opzone
{
    height: 27px;
    overflow: hidden;
    margin-top: 3px;
    background: url(../cti/img/bg_l.gif) no-repeat -2px -54px;
    padding-left: 10px;
}
#manuleloginzone, #operationzone
{
    height: 30px;
}
#nops
{
    float: left;
}
#loadingzone
{
    position: absolute;
    top: 10px;
    right: 10px;
}
#userstatuzone
{
    width: 90px;
    height: 30px;
    float: left;
}
#divStatu
{
    width: 30px;
    height: 30px;
    background: url(../cti/img/allinone.gif) 0 -66px;
    float: left;
}
#divStatuName
{
    width: 48px;
    overflow: hidden;
    font-size: 12px;
    padding-top: 8px;
    color: #999;
}
.n_btn
{
    border: solid 1px #a4d5f6;
    background: url(../cti/img/btn_bg.gif) repeat-x 0 -6px;
    color: #3333ff;
    padding-top: 2px;
    height: 21px;
}

#visiblezone
{
    margin-left: 10px;
}

/*main content*/
.wrap
{
    margin: 10px auto;
    padding: 0 10px;
}

/*bossQuerySh*/
#cus_q ul
{
    list-style-type: none;
}
#cus_q li
{
    display: block;
    float: left;
    margin: 2px;
    height: 24px;
}
#cus, #ext
{
}
.cus_t, .det_t
{
    width: 99%;
    margin: 2px auto;
}
.divPageControl
{
    width: 99%;
    margin: 2px auto;
}
.pager
{
    margin: 2px auto 5px;
    width: 98%;
    clear: both;
}
.pager a
{
    display: block;
    padding: 2px;
    float: left;
    margin-left: 2px;
    border: solid 1px #aacbee;
    background-color: #f3f8fd;
    color: #0000ff;
    min-width: 18px;
    text-align: center;
}
.pager a:hover
{
    background-color: #c9dff4;
}
.pager span
{
    display: block;
    padding: 2px;
    float: left;
    margin-left: 2px;
    border: solid 1px #aacbee;
    color: #ff0000;
    margin-bottom: 5px;
    min-width: 18px;
    text-align: center;
}
.det_t, .det_t th, .det_t td
{
    border-collapse: collapse;
    border: solid 1px #aacbee;
}
.cus_t, .cus_t th, .cus_t td
{
    border-collapse: collapse;
    border: solid 1px #aacbee;
}
.cus_t th, .det_t th
{
    padding: 2px;
}
.cus_t th, .det_t th
{
    background: #c9dff4;
    font-weight: bold;
    text-align: center;
}
.cus_t td, .det_t td, .c_t td
{
    padding: 1px;
}
.nor_t, .nor_t th, .nor_t td
{
    border-collapse: collapse;
    border: solid 1px #aacbee;
}
.cus_t th, .det_t th, .nor_t th
{
    padding: 2px;
    background: #c9dff4;
    font-weight: bold;
    text-align: center;
}
.cus_t td, .det_t td, .nor_t td
{
    padding: 2px;
}
tr.cus_item
{
    cursor: pointer;
}
.alternating
{
    background-color: #f3f8fd;
}
.hover
{
    background-color: #efefef;
}
.cus_tab li
{
    display: block;
    float: left;
    margin: 2px 0 2px 4px;
    background: url(../img/skin1/cus_tab_bg.gif) repeat-x;
    height: 20px;
    padding: 2px 15px 0;
    position: relative;
    cursor: pointer;
}
li.cus_tabh_s
{
    background: url(../img/skin1/cus_tab_bg.gif) repeat-x 0 -22px;
    cursor: normal;
}
.cus_tabh_l
{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    background: url(../img/skin1/cus_tab_bg.gif) no-repeat 0 -45px;
    width: 2px;
    height: 22px;
}
.cus_tabh_r
{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background: url(../img/skin1/cus_tab_bg.gif) no-repeat -2px -45px;
    width: 2px;
    height: 22px;
    _right: -3px;
}
#tab_h
{
    width: 99%;
    margin: 2px auto;
    height: 23px;
    border-bottom: solid 1px #95c5e9;
}

.tree_container
{
    max-height: 280px;
    overflow: auto;
    margin: 1px;
    width: 99%;
}

/*bulletin level*/
.bul_important
{
    color: Orange;
}
.bul_emergency
{
    color: Red;
}
.bul_Ordinary
{
    color: blue;
}
#bcontainer
{
    width: 99%;
    margin: 0 auto;
    border-top: solid 2px #99ccff;
    border-bottom: solid 2px #99ccff;
}
.b_item
{
    margin: -2px 2px 0;
    border-top: dotted 1px #99ccff;
    overflow: visible;
    padding: 5px;
    position: relative;
}
.b_item a
{
    font-size: 14px;
    font-weight: bold;
}
.b_item span
{
    color: #ccc;
    margin-left: 10px;
}
.b_item_c
{
    overflow: visible;
    margin: 5px;
    display: none;
    padding-top: 5px;
    color: blue;
}
.b_collapse
{
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url(../img/skin1/down_list.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.move_down
{
    width: 10px;
    height: 16px;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    right: 23px;
    background: url(../img/skin1/up_down.gif) no-repeat -10px 4px;
}
.move_up
{
    width: 10px;
    height: 16px;
    display: block;
    text-indent: -1000px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    right: 35px;
    background: url(../img/skin1/up_down.gif) no-repeat 0 3px;
}

.collapsed
{
    background-image: url(../img/skin1/up_list.gif);
}

/*PageControl*/
.btnGoto
{
    cursor: hand;
}

/*用于FieldBoxHeader*/
.FieldBoxBorder
{
    border-bottom: #99ccff 1px solid;
    border-left: #99ccff 1px solid;
    border-top: #99ccff 1px solid;
    border-right: #99ccff 1px solid;
    border-collapse: collapse;
    width: 100%;
}
.FieldBoxHeader
{
    width: 100%;
}
.Fieldbox
{
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

/*用于Field*/
.FieldEditTitle
{
    padding-right: 5px;
    background-color: #E5F0F9;
    text-align: right;
    vertical-align: middle;
    white-space: nowrap;
}
.FieldEditText
{
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    vertical-align: middle;
}
#divAttachedInfo
{
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 10px;
}
/*显示知识库时用到*/
.inType
{
    text-align: center;
    margin: 10px 10px;
    padding-bottom: 5px;
    color: #666;
    border-bottom: dotted 1px #ccc;
}
.inContent
{
    margin: 20px;
}
.inBottom
{
    border-top: dotted 1px #ccc;
    margin: 20px 10px;
    padding-top: 5px;
    color: #666;
}
/*显示知识库的边框*/
.k_t
{
    border-collapse: collapse;
    border: solid 1px #99ccff;
    width: 100%;
}
.k_h
{
    background: #E5F0F9;
    border: solid 1px #6f9fce;
    vertical-align: middle;
    height: 20px;
    padding-left: 2px;
}
.page
{
    width: 99%;
    margin: 2px auto;
}
.nowrap
{
    white-space: nowrap;
}
/*用于自动换行*/
.WordWrap
{
    word-wrap:break-word;
    word-break:break-all;
}
/*用于确定新增行*/
.line
{
}
.stepLine
{
}

.buttonedit
{
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}
.buttonedit, .buttonedit th, .buttonedit td
{
    border-collapse: collapse;
    border: 0px;
}
.bolder
{
    font-weight: bolder;
}
